body{
    display: flex;
    background-color: honeydew;
    align-items: center;
    justify-content: center;
    
}

div {
    margin-top: 10%;
}
canvas {
    position: relative;
    width: 49vw;
    height: 49vh;
   
}
